/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Roboto';
  font-size: 20px;
  background: #f3f2f3;
}

#passed .group {
  float: left;
  width: 300px;
  height: 150px;
  margin: 8px;
  padding: 8px;
  word-wrap: break-word;
  text-align: center;
}

.group .stage {
  display: inline-block;
  margin: 8px 8px 8px 20px;
  padding: 8px 8px 8px 56px;
  position: relative;
  width: 200px;
  height: 76px;
}

.group .stage h4 {
  overflow: hidden;
}

.group .stage:before {
  content: "";
  position: absolute;
  left: 0; 
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 46px solid #f3f2f3;
  border-top: 46px solid transparent;
  border-bottom: 46px solid transparent;
  z-index: 0;
}

.group .stage.unknown:after {
  content: "";
  position: absolute;
  right: -46px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 46px solid #ffc11b;
  border-top: 46px solid transparent;
  border-bottom: 46px solid transparent;
  z-index: 1;
}

.group .stage.failed:after {
  content: "";
  position: absolute;
  right: -46px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 46px solid #fa2d2d;
  border-top: 46px solid transparent;
  border-bottom: 46px solid transparent;
  z-index: 1;
}

.group .stage.passed:after {
  content: "";
  position: absolute;
  right: -46px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 46px solid #00c853;
  border-top: 46px solid transparent;
  border-bottom: 46px solid transparent;
  z-index: 1;
}

.group h3.group-name {
  font-size: 120%;
  color: #353330;
}

.group .stage h4 {
  font-size: 120%;
}

.passed {
  color: white;
  background: #00c853;
}

.unknown {
  color: white;
  background: #ffc11b;
}

.group.unknown {
  background: transparent;
}

.group.failed {
  background: transparent;
}

.failed {
  color: white;
  background: #fa2d2d;
}

h3, h4 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: inherit;
}

.label {
  display: block;
  color: #eae9ea;
}

.trigger {
  display: block;
  font-size: 70%;
}
