/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Regular latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
         src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}

body {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 30px;
  background: #0B1420;
  color: #FFF;
  padding: 1em;
}

#unknown {
  margin-top: 30px;
}

#passed {
  margin-top: 30px;
}

#passed .group {
  float: left;
  display: inline-grid;
  width: 268px;
  height: 160px;
  margin: 10px;
  padding: 24px;
  word-wrap: break-word;
  text-align: left;
  position: relative;
}

.group .stage {
  display: inline-grid;
  margin: 8px;
  padding: 16px 8px 8px 16px;
  position: relative;
  width: 278px;
  height: 124px;
}

.group .stage + .stage {
  width: 232px;
  padding-left: 80px;
}


.group .stage h4 {
  overflow: hidden;
}

.group .stage + .stage:before {
  content: "";
  position: absolute;
  left: 0; 
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 70px solid #0B1420;
  border-top: 79px solid transparent;
  border-bottom: 70px solid transparent;
  z-index: 0;
}

.group .stage.unknown:after {
  content: "";
  position: absolute;
  right: -70px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 70px solid #A8D2FF;
  border-top: 79px solid transparent;
  border-bottom: 70px solid transparent;
  z-index: 1;
}

.group .stage.failed:after {
  content: "";
  position: absolute;
  right: -70px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 70px solid #D95662;
  border-top: 78px solid transparent;
  border-bottom: 70px solid transparent;
  z-index: 1;
}

.group .stage.passed:after {
  content: "";
  position: absolute;
  right: -70px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 70px solid #7FCB90;
  border-top: 78px solid transparent;
  border-bottom: 70px solid transparent;
  z-index: 1;
}

.group h3.group-name {
  font-size: 120%;
  color: #FFF;
  padding: 0;
}

.group .stage h4 {
  font-size: 120%;
}

.passed {
  color: #0B1420;
  background: #7FCB90;
}

.unknown {
  color: #0B1420;
  background: #A8D2FF;
}

.group.unknown {
  background: transparent;
}

.group.failed {
  background: transparent;
}

.failed {
  color: #0B1420;
  background: #D95662;
}

h3, h4 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: inherit;
}

.info {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.label, .trigger, .modified {
  display: block;
  opacity: 0.80;
  font-size: 70%;
  line-height: 150%;
  font-weight: 500;
}

.modified {
  font-size: 60%;
}

.label:before {
  font-family: FontAwesome;
  content: "\f126";
  width: 32px;
  display: inline-block;
  text-align: center;
  opacity: 0.65;
  font-size: 16px;
}


.trigger:before {
  font-family: FontAwesome;
  content: "\f2bd";
  width: 32px;
  display: inline-block;
  text-align: center;
  opacity: 0.65;
  font-size: 16px;
}

.modified:before {
  font-family: FontAwesome;
  content: "\f1da";
  width: 32px;
  display: inline-block;
  text-align: center;
  opacity: 0.65;
  font-size: 16px;
}
